<!DOCTYPE html>
<html lang="en">
<head>
    <title>HackerRank Clone</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="js/myjs.js" type="text/javascript" ></script>    
</head>
<body>
   <div id="header">
        <div id="logo">
            <h4>HackerRank <img src="images/hackerrank-brands.svg" alt=""></h4>
        </div>
        <div id="login"><button>Login</button></div>
        <div id="signup"><button>Sign Up</button></div>
   </div>
   <div id="body">
        <div id="left_panel">
            <div id="lp_head">
                <h1><span id="lp_head_span">Matching developers with great companies.</span></h1>
            </div>
            <div id="lp_body">
                <div id="comp">
                   <header id="forComp"><span>For Companies</span></header>
                   <p>We are the market-leading technical <br> interview platform to identify and hire <br> developers in a remote first world.</p>
                   <button class="button button1"> <span id="clo1">Start Remote Hiring</span></button>
                </div>
                <div id="dev">
                    <header id="forDev"><span>For Developers</span></header>
                    <p>Join over 11 million developers, <br> parctice coding skills, prepare for <br> interview, and get hired.</p>
                    <button class="button button2"> <span id="col2">Sign Up & Code</span></button>
                </div>
            </div>
        </div>
        <div id="right_panel">
            <div id="image">
                <img src="images/image1.png" alt="">
            </div>
        </div>
   </div>
   <div id="footer">
    <div id="foot_content">
        <p>Copyright © 2021 HackerRank  |  Careers <br> Privacy Policy</p>
    </div>
   </div>
</body>
</html>