<!-- <!DOCTYPE html>
<html lang="en"> -->
<head>
<title>Code Masters| Home</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mastering Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/JiSlider.css" rel="stylesheet"> 
<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" property="" />

<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- font-awesome-icons -->
<link href="../static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
	


<!-- banner -->
<body>
	
<!-- banner -->
	<div class="banner-silder">
		<div id="JiSlider" class="jislider">
			<ul>
				
				<li>
						<div class="bann-banner-top bann-banner-top1">
						<div class="container">
								<div class="agileits-banner-info">
								 <span>Education</span>
									<h3>For the Creatives</h3>
									 <p>You can learn anything </p>
									
								</div>	
							</div>
						</div>
				</li>
				<li>
					<div class="bann-banner-top">

							<div class="container">
								<div class="agileits-banner-info">
								 <span>Free</span>
									<h3> Premium Courses</h3>
									 <p>You only have to know one thing</p>
									
								</div>	
							</div>
						</div>
				</li>
				<li>
						<div class="bann-banner-top bann-banner-top2">
							<div class="container">
								<div class="agileits-banner-info">
								 <span>Education</span>
									<h3>For the Creatives</h3>
									 <p>You can learn anything.</p>
									
								</div>	
								
							</div>
						</div>
					</li>
					<li>
					<div class="bann-banner-top">

							<div class="container">
								<div class="agileits-banner-info">
								 <span>Free</span>
									<h3> Premium Courses</h3>
									 <p>You only have to know one thing</p>
									
								</div>	
							</div>
						</div>
				</li>

			</ul>
		</div>
      </div>

<!-- //banner -->



<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<h3>Join <span class="fixed_w3"> Code Masters</span> today to start discovering thousand of content with minimum <span class="fixed_w3"> effort ! </span></h3>
			<div class="agileits_banner_bottom_grids">
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="../static/images/1.jpg" alt=" " class="img-responsive" />
						<div class="overlay">
						   <h4>Html</h4>
						   <p>Education</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="../static/images/2.jpg" alt=" " class="img-responsive" />
						<div class="overlay">
						   <h4>Data Structure</h4>
						     <p>Education</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="../static/images/3.jpg" alt=" this is not available in your browser " class="img-responsive" />
						<div class="overlay">
						   <h4>JAVA</h4>
						    <p>Education</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits_banner_bottom_grid">
					<div class="hovereffect w3ls_banner_bottom_grid">
						<img src="../static/images/4.jpg" alt=" " class="img-responsive" />
						<div class="overlay">
						   <h4>Python</h4>
						    <p>Education</p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			

		</div>
	</div>
<!-- //banner-bottom -->

	<!-- services -->
	<div class="services" id="services">
		<div class="container">
		<h3 class="w3l_header w3_agileits_header two">Our <span>Benefits</span></h3>
			<div class="agile_inner_w3ls-grids two">
				<div class="col-md-3 service-box">
					<figure class="icon">
					    <span>1</span>
						<i class="fa fa-graduation-cap" aria-hidden="true"></i>
					</figure>
					<h5>Experienced Faculty</h5>
					
				</div>
				<div class="col-md-3 service-box">
				
					<figure class="icon">
					 <span>2</span>
					<i class="fa fa-laptop" aria-hidden="true"></i>
					</figure>
					<h5>Online Learn</h5>
					
				</div>
				<div class="col-md-3 service-box">
					<figure class="icon">
					 <span>3</span>
						<i class="fa fa-book" aria-hidden="true"></i>
					</figure>
					<h5>Quiz System</h5>
				
				</div>
				<div class="col-md-3 service-box">
					<figure class="icon">
					 <span>4</span>
						<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
					</figure>
					<h5>Lifetime Access</h5>
				
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
			
	<div class="testimonials">
		<div class="col-md-6 w3layouts_event_left">
			<img src="../static/images/test.jpg" alt=" " class="img-responsive" />
		</div>
		<div class="col-md-6 w3layouts_event_right">
			<h3>what people says</h3><br><br>
			
			<p>Thanq for providing us a Great Content Available for free</p>
			<h4>~ Harshit Sharma</h4>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //testimonials -->	

<!-- js -->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script src="../static/js/JiSlider.js"></script>
<script>
			$(window).load(function () {
				$('#JiSlider').JiSlider({color: '#fff', start: 3, reverse: true}).addClass('ff')
			})
		</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- stats -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->
<!-- //footer -->
<!-- flexSlider -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
  </script>
<!-- //flexSlider -->


<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<div class="footer">
	<div class="f-bg-w3l">
		<div class="container">
			<div class="col-md-4 w3layouts_footer_grid">
				<h2>Follow <span>Us</span></h2>
				<ul class="social_agileinfo">
					<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
			<div class="col-md-8 w3layouts_footer_grid">
				
				<ul class="w3l_footer_nav">
					
					<li><a href="/python">Python</a></li>
					<li><a href="/java">Java </a></li>
					<li><a href="/data-structure">Data Structures</a></li>
				</ul>
				<p>©2021 Code Masters All Rights Reserved.</a></p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
</body>
<!-- </html> -->