<head>
    <title>The Plants World | Important Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Mastering Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../static/css/JiSlider.css" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" property="" />
    
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    
    <!-- font-awesome-icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet"> 
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    
        <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" href="/static/css/howto.css">
</head>
<body>
    <main>
        <section class="infoimg-parent-Container">
            <div class="info-heading">
                <h1>All Quizes</h1>
            </div>
        </section>
        <section class="information-content">
            <div class="info-content-parent"><a class="info-content1 same-content-class" href="/quizone">
                    <div class="info-content-image"><img src="../static/images/javaa.png" alt="" srcset="" height="100%" width="100%" /></div>
                    <div class="info-content-words">
                        <h1>JAVA QUIZ </h1>
                    </div>
                </a><a class="info-content1 same-content-class" href="/quiztwo">
                    <div class="info-content-image"><img src="../static/images/pythonn.png" alt="" srcset="" height="100%" width="100%" /></div>
                    <div class="info-content-words">
                        <h1>PYTHON QUIZ </h1>
                    </div>
                </a><a class="info-content1 same-content-class" href="/quizthree">
                    <div class="info-content-image"><img src="../static/images/dataaa.png" alt="" srcset="" height="100%" width="100%" /></div>
                    <div class="info-content-words">
                        <h1>DATA STRUCTURE QUIZ</h1>
                    </div>
                </a></div>
        </section>
        
    </main>
</body>

</html>